<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Cube Summation</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Input:</h3>
        </div>
        <div class="panel-body">
          <form ng-submit="$ctrl.submit()" novalidate>
            <div class="form-group">
              <textarea class="form-control" rows="15"
                        ng-model="$ctrl.testCases"></textarea>
            </div>
            <div class="form-group">
              <button type="submit"
                      class="btn btn-primary pull-right"
                      ng-disabled="!$ctrl.canSubmit()">Run</button>
              <div class="col-sm-offset-2 col-sm-10">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Result:</h3>
        </div>
        <div class="panel-body">
          <div class="result">
            <ul class="list-unstyled">
              <li ng-repeat="result in $ctrl.results track by $index">{{result}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
